<!DOCTYPE html>
<html>
<head>
    <title>Katalog Filmów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Katalog Filmów</h1>
    <a href="{{ url_for('add_edit_movie') }}">Dodaj film</a>
    <table>
        <tr>
            <th>Tytuł</th>
            <th>Gatunek</th>
            <th>Ocena</th>
            <th>Komentarz</th>
            <th>Data obejrzenia</th>
            <th>Akcje</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.comment }}</td>
            <td>{{ movie.watched_date }}</td>
            <td>
                <a href="{{ url_for('add_edit_movie', id=movie.id) }}">Edytuj</a>
                <form action="{{ url_for('delete_movie', id=movie.id) }}" method="post" style="display:inline;">
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
